<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple mustache test</title>
  </head>
  <body>
    <h1>Example Mustache Page</h1>
    <h2>{{id}}</h2>
    <h3>{{title}}</h3>
  </body>
</html>